tmp/
work_dir/
lib/__pycache__/
configs/__pycache__/
test/*.pth
test/train_1epoch_cuda.stdout
test/train_one_image_adam4.txt	
test/train_one_image_adam5.txt
test/train_one_image_adam4.txt
work_dirs/*
test/test_train_12epoch_with_new_nms.stdout
test/nohup.out
__pycache__/
nohup.out
val_cascade
work_dir_cascade
work_dir_faster